<a href="#" id="imahe"><%= image_tag("jhayBLog2.png", {:style => "height:65px;"}) %></a>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque aspernatur qui ab provident nesciunt deleniti mollitia, voluptate odio blanditiis consequuntur maxime fugit nam, quas aliquid impedit repellat facere laudantium.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque aspernatur qui ab provident nesciunt deleniti mollitia, voluptate odio blanditiis consequuntur maxime fugit nam, quas aliquid impedit repellat facere laudantium.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque aspernatur qui ab provident nesciunt deleniti mollitia, voluptate odio blanditiis consequuntur maxime fugit nam, quas aliquid impedit repellat facere laudantium.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque aspernatur qui ab provident nesciunt deleniti mollitia, voluptate odio blanditiis consequuntur maxime fugit nam, quas aliquid impedit repellat facere laudantium.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque aspernatur qui ab provident nesciunt deleniti mollitia, voluptate odio blanditiis consequuntur maxime fugit nam, quas aliquid impedit repellat facere laudantium.</p>
