<!-- Nav -->
<div id="homePage">
  <img class="background" src="https://wallpapercave.com/wp/wp5321425.jpg" alt="">
  <div class="container">
    <div id="header"> 
        <a href="#" id="imahe"><%= image_tag("jhayBLog2.png", {:style => "height:65px;"}) %></a>
    </div>
    <a href="#" class="toggle-button">
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>
    </a>
    <nav class="navbar-links">
        <ul >
            <li class="nav-link"><a href="#Home">Home</a></li>
            <li class="nav-link"><a href="#About">About Us</a></li>
            <li class="nav-link"><a href="#Blog">Blog</a></li>
            <li class="nav-link"><a href="#Contact-us">Contact Us</a></li>
            <!-- <li class="nav-link"><a href="#socMedia">Soc Media Us</a></li> -->
        </ul>
    </nav>
  </div>
</div>


